body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   font-size: 50px;
}
.shaka{
    color:orange;
}
.flexible-container{
        display: flex;
        margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left:  50px;
    padding-right: 50px;
}
.half-width img{
    width: 70% ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;

}
.top-banar{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image:url(./images/dream-bg.png);
    background-repeat: no-repeat;
  background-position: right;
}

.experience-item{
    width: 50%;
    margin: 0 5%;
    box-shadow: 10px 10px 20px 30px gray;
}
h2{
    font-size: 40px;
    border-radius: 15px;;
}
.experience-area{

background-image: url(./images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
#web-developer-exp{
    border-left: 7px solid;
    border-image:linear-gradient(yellow, blue);
    border-image-slice: 1;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image:linear-gradient(blue, green);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}